.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
}

body {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}